body {
  background-color: rgb(72, 69, 162);
}

.bigPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  height: 18cm;
  width: 9cm;
  border-radius: 50px;
  /* display: grid; */
  /* align-items: center; */
  /* justify-content: center; */
}

.displayPanel {
  /* background-color: white; */
  width: 9cm;
  height: 5.5cm;
  margin-top: 50px;
  position: relative;
  /* margin-bottom: 15px; */
  /* border-radius: 50px; */
  /* justify-content: end;
  justify-items: end; */
}
.display {
  position: absolute;
  background-color: aquamarine;
  height: 2cm;
  width: 8.5cm;
  bottom: 0;
  right: 0;
}

.controlsPanel {
  /* background-color: bisque; */
  width: 8.74cm;
  height: 10cm;
  display: flex;
  margin-left: 0.13cm;
  margin-right: 0.13cm;
}

.leftSide {
  /* background-color: aquamarine; */
  height: 10cm;
  width: 6.55cm;
  display: grid;
  /* justify-content: center; */
  /* align-content: center; */
  text-align: center;
}

.greyButtons {
  /* background-color: brown; */
  height: 2cm;
  width: 6.55cm;
}
.greyButtons button {
  /* width: 1.9cm;
  height: 1.9cm; */
  background-color: rgb(152, 152, 152);
  border: 0px solid rgb(152, 152, 152);
  /* border-radius: 50%; */
}

.btn {
  width: 1.85cm;
  height: 1.85cm;
  border-radius: 50%;
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 25px;
}

.num {
  background-color: rgb(56, 56, 56);
  border: 0px solid grey;
  color: white;
}
.zero {
  width: 4cm;
  border-radius: 40px;
  text-align: left;
  padding: 0 30px;
}

.sign {
  background-color: rgb(239, 156, 0);
  border: 0px solid rgb(239, 156, 0);
  color: white;
}

.numberButtons {
  /* background-color: chocolate; */
  height: 8cm;
  width: 6.55cm;
}

.rightSide {
  /* background-color: blue; */
  height: 10cm;
  width: 2.185cm;
}
