body {
  background-color: slategray;
}

.bigPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 18cm;
  width: 9cm;
  border-radius: 50px;
}

.frontPage {
  background-color: bisque;
  height: 15.7cm;
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.topPanel {
  display: grid;
  background-color: aqua;
  height: 2.5cm;
  justify-content: left;
  padding: 0 10px;
  grid-template-rows: 50% 50%;
  /* align-items: center; */
}
.heading {
  /* padding: 0 10px; */
  font-size: 15px;
}
.searchBar {
  width: 7.8cm;
  /* margin-left: 10px; */
  height: 0.7cm;
  margin-top: 8px;
  background-color: rgb(188, 188, 188);
  border: none;
  border-radius: 10px;
  /* margin-top: -16px; */
  /* margin-bottom: 20px; */
  /* padding: 10px 10px; */
}
.searchBar::placeholder {
  padding: 5px;
  color: rgb(48, 48, 48);
}

.allNotesPanel {
  background-color: aquamarine;
  height: 11.7cm;
}
.bottomNavPanel {
  background-color: black;
  height: 1.5cm;
}
