body {
  background-color: slategray;
}

.bigPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 18cm;
  width: 9cm;
  border-radius: 50px;
  background-color: darkgoldenrod;
  border: 3px solid black;
}

.frontPage,
.notePage {
  background-color: whitesmoke;
  height: 15.7cm;
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.frontPage {
  display: grid;
}

.topPanel {
  display: grid;
  height: 2.5cm;
  justify-content: left;
  padding: 0 10px;
  grid-template-rows: 50% 50%;
}
.heading {
  font-size: 15px;
}
.searchBar {
  width: 7.8cm;
  height: 0.7cm;
  margin-top: 8px;
  background-color: rgb(188, 188, 188);
  border: none;
  border-radius: 10px;
  text-align: 10px;
}

.searchBar::placeholder {
  padding: 5px;
  color: rgb(48, 48, 48);
}
.notes {
  height: 11.7cm;
  background-color: rgb(188, 188, 188);
}
.allNotesPanel {
  background-color: rgb(188, 188, 188);
  max-height: 11.7cm;
  max-width: 8.45cm;
  display: grid;
  grid-gap: 2px;
  overflow: auto;
}
.note {
  background-color: whitesmoke;
  height: 2cm;
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 10px;
  align-items: center;
  margin: 0;
}
.title {
  font-size: 25px;
}

.bottomNavPanel {
  background-color: whitesmoke;
  height: 1.3cm;
  display: flex;
  text-align: center;
}

.BtnNewLetter {
  position: absolute;
  margin-top: -1.5px;
  margin-right: 10px;
  right: 0;
  height: 1cm;
  font-size: 40px;
  background-color: transparent;
  border: none;
}
.countOfNotes {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  text-align: center;
}

.hidden {
  display: none;
}

.topNavigationBar {
  display: flex;
  height: 2cm;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.backToFrontPage,
.doneButton {
  height: 1cm;
  width: 2.2cm;
  font-size: 18px;
  color: darkgoldenrod;
  background-color: transparent;
  border: none;
}
.deleteNote {
  font-size: 25px;
  border: none;
  background-color: transparent;
}

.noteContentPanel {
  height: 13.7cm;
  display: grid;
}
.titleOfNotePanel {
  display: flex;
  height: 2.5cm;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}
.headingOfNote {
  height: 1.7cm;
  font-size: 30px;
  color: black;
  width: 7.7cm;
  background-color: transparent;
  border: none;
}
.headingOfNote::placeholder {
  color: grey;
  font-size: 30px;
}
.contentOfNotePanel {
  height: 11.2cm;
}

.contentOfNote {
  height: 10.5cm;
  width: 7.8cm;
  resize: none;
  overflow: auto;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  border: none;
}
.contentOfNote::placeholder {
  color: grey;
  font-size: 18px;
}
