body,
html {
  margin: 0;
  padding: 0;
  background-color: #303030;
}

.layoutHeader {
  height: 5cm;
  color: #fff;
  /* padding: 20px; */
  text-align: center;
}

.headerAndLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: antiquewhite;
  background: linear-gradient(to top, #303030, #2d42ff);
  color: white;
  width: 100%;
  height: 50%;
}

input[type="checkbox"] {
  display: none;
}

.navigationBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0 30px;
  color: #fff;
  height: 40%;
  border: 2px solid white;
}

.hamburger {
  display: none;
  font-size: 50px;
  user-select: none;
}

.nav-links {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 100px; */

  list-style-type: none;
  /* background-color: teal; */
}

.menu a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

@media (max-width: 915px) {
  .menu {
    display: none;
    position: absolute;
    /* background-color: #2d42ff; */
    background-color: #85c7f2;
    opacity: 0.9;
    right: 0;
    left: 0;
    margin-top: 2px;
    top: 100%;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-radius: 10px;
  }

  .menu a {
    color: black;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .car {
    height: 10cm !important;
    width: 440px;
    margin: 0 auto;
  }

  .orderBar button {
    width: 5cm !important;
    height: 2cm !important;
    /* padding: 0 20px; */

    margin: 0 20px;
  }

  .orderBar {
    justify-content: space-between;
  }

  .layoutMiddleLayerHomePage {
    grid-template:
      "a a a" 100px
      "b b b" auto
      "c c c" auto / 3fr 1fr 1fr !important;
  }
}

.layoutMiddleLayerAllVehicles {
  /* padding: 20px; */
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70px auto;
  gap: 60px;
}

.orderBar {
  height: 3cm;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.orderBar button {
  height: 1.5cm;
  width: 7cm;
  font-size: 25px;
  background-color: #5e5e5e;
  border: none;
  border-radius: 10px;
}

.orderBar button:active {
  background-color: #2f3992;
}

.contentHolder {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.car {
  /* background-color: aquamarine; */
  height: 5cm;
}

.contentHolder div {
  border: 3px solid white;
  /* border-radius: 5px; */
  padding: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: #2ec4b6;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 15px;
}

.layoutMiddleLayerHomePage {
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  /* background-color: #2d42ff; */
  display: grid;
  grid-template:
    "a a a" 100px
    "b c c" auto
    "b c c" auto / 3fr 1fr 1fr;
  gap: 10px;
}

.titleHolder {
  grid-area: a;
  /* background-color: #2ec4b6; */
  text-align: center;
  color: white;
  font-size: 30px;
}
.textHolder {
  grid-area: b;
  /* background-color: #965757; */
  font-size: 23px;
  color: white;
}
.textHolder p {
  padding: 0 20px;
  margin-top: 15%;
  margin-bottom: 15%;
}
.imageHolder {
  grid-area: c;
  /* background-color: #ee4c4c; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageHolder img {
  width: 95%;
}
.imgShadow {
  color: white;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px white;
}

.layoutMiddleLayerSignUp {
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  /* background-color: #2d42ff; */
  display: grid;
  grid-template:
    "b b a" auto
    "b b c" auto
    "b b c" auto / 1fr 0.5fr 2fr;
}

.headingHolder {
  grid-area: a;
  width: 90%;
  /* background-color: #965757; */
  font-size: 23px;
  color: white;
  background-color: #474847;
  padding: 0 10px;

  /* text-align: center; */
}
.formHolder {
  grid-area: c;
  width: 90%;

  background-color: #474847;
  height: 5cm;
  height: auto;
  display: grid;
  gap: 10px;
  padding: 0 10px;
}
.image {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 60%;
}
.name {
  margin-top: 20px;
  margin-bottom: 7px;
  /* padding: 0 10px; */
  color: silver;
}
.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
}

.inputBoxPhone {
  display: flex;
  align-items: center;
  /* padding: 0 10px; */
}
.input {
  max-width: 9.5cm;
  width: 90%;
  height: 1cm;
  border-radius: 10px;
  border-color: rgb(68, 68, 68);
  border-width: 2px;
  font-size: 20px;
}

.selectedCountryCode {
  width: 3.3cm;
  height: 1cm;
  border-radius: 10px;
  z-index: 1;
  font-size: 16px;
}

.inputPhone {
  max-width: 6cm;
  width: 90%;
  height: 1cm;
  border-radius: 10px;
  border-color: rgb(68, 68, 68);
  border-width: 2px;
  font-size: 20px;
}

.submitBtn {
  max-width: 9.5cm;
  width: 90%;
  height: 1cm;
  border-radius: 10px;
  background-color: rgba(30, 5, 85, 255);
  color: floralwhite;
  margin-bottom: 10px;
}

.buttonHolder {
  margin-top: 40px;
}
