body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background-color: #303030;
  /* display: flex; */
  /* flex-direction: column; */
}
#grid_container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5cm auto 2cm;
}
.layoutHeader {
  height: 5cm;
  background-color: aqua;
}
.headerAndLogo {
  text-align: center;
  background-color: antiquewhite;
  background: linear-gradient(to top, #303030, #2d42ff);
  color: white;
}

input[type="checkbox"] {
  display: none;
}

.navigationBar {
  display: flex;
  align-items: center;
  background-color: teal;
  color: #fff;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
.nav-links {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style-type: none; /* Remove bullet points */
}

/* in case the width of the website is changes to a mobile version or smaller*/
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  /*When item is hovered it changes its color*/
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  /*The space between all listed items in the burger menu is 12px, except for the first one*/
  .menu li + li {
    margin-top: 12px;
  }

  /*When the hamburger is checked it makes the menu class a block*/
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

.layoutMiddleLayer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 4cm auto 0;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: rgb(161, 162, 162);
  /* height: auto; */
}

.orderBar {
  background-color: rgb(32, 59, 59);
  height: 3cm;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.orderBar button {
  height: 1.5cm;
  width: 7cm;
  font-size: 25px;
  background-color: #5e5e5e;
  border: none;
}
/*when c# code is attached - remove this propeerty and do it with active button using c#*/
.orderBar button:active {
  background-color: #2f3992;
}
.contentHolder {
  margin-top: 10px;
  display: grid;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.car {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18cm;
  width: 11cm; */
  background-color: aquamarine;
  height: 4cm;
}

footer {
  /* background-color: bisque;
  margin-top: auto;
  height: 5cm; */
  /* padding-bottom: 1px;
  position: fixed;
  width: 100%;
  background-color: bisque;
  height: 5cm; */
  /* position: relative;
  margin: 5cm auto 0;

  width: 900px;
  background-color: bisque;
  height: 150px; */
  width: 900px;
  background-color: bisque;
  height: 150px;
  position: absolute; /* Add absolute positioning */
  bottom: 0; /* Position at the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}
