body {
  background-color: rgb(174, 197, 220);
}

.bigPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(110, 110, 110);
  height: 17cm;
  width: 11cm;
  border-radius: 10px;
}

.songInfo,
.albumInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(159, 159, 159);
  height: 16cm;
  width: 10cm;
  border-radius: 20px;
  display: grid;
}
.songInfo {
  grid-template-rows: 9cm 2cm 2cm 1.5cm auto;
}
.albumInfo {
  grid-template-rows: 5cm 2cm auto 2cm;
}

.imagePanel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.songImage,
.albumImage {
  height: 8.5cm;
  border-radius: 5px;
}
.songInfoPanel {
  display: grid;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  color: white;
}
.titlePanel {
  width: 9cm;
  overflow: hidden;
  max-height: 1cm;
}

.bottomPanel {
  display: flex;
  justify-content: space-between;
}
.songTitle {
  font-size: 35px;
}
.songArtist {
  font-size: 25px;
}
.songAlbum {
  font-size: 20px;
  text-decoration: underline;
}

.navPanel {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}
.navBtn {
  height: 1.5cm;
}
.songTimers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
}
.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songProgressbar {
  width: 9cm;
}
.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.soundBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.volumeImg {
  height: 1cm;
}
.inputBar {
  width: 8cm;
}
/* input[type="range"]::-ms-fill-lower {
  background: #ff0000;
}
 */
.hidden {
  display: none;
}

/* .albumInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(159, 159, 159);
  height: 16cm;
  width: 10cm;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 60px 20px auto 10px;
} */

.albumImage {
  margin-top: 5px;
  height: 5cm;
}
.albumData {
  /* background-color: black; */
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  /* white-space: nowrap;
  margin: 0; */
}
.AlbumTitle {
  font-size: 35px;
  color: white;
  width: 9cm;
  max-width: 9cm;
  /* animation: scroll-left 12s linear infinite; */
  font-style: italic;
}
@keyframes scroll-left {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.albumArtist {
  font-size: 25px;
  color: white;
}
.albumSongs {
  background-color: rgb(110, 110, 110);
  overflow-y: auto;
  display: grid;
  grid-gap: 1px;
}
.songPanel {
  background-color: rgb(142, 142, 142);
  height: 2cm;
  display: flex;
}

.leftSide {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 0 5px;
}
.rightSide {
  display: flex;
  /* background-color: brown; */
  width: 20%;
  justify-content: center;
  align-items: center;
}
.songImg {
  height: 1.2cm;
  border-radius: 3px;
}
.songName {
  margin-left: 10px;
}
.albumSongsPlayBtn {
  height: 0.8cm;
}
.currentlyPlayingSongPanel {
  background-color: rgb(207, 128, 8);
  display: flex;
}

.currentlyPlayingSongPanel .leftSide {
  background-color: orange;
}
.currentlyPlayingSongPanel .rightSide {
  background-color: rgb(0, 255, 94);
}
