body {
  background-color: rgb(253, 246, 233);
  display: grid;
  place-items: center;
}
.headline {
  text-align: center;
}

.panel {
  background-color: white;
  width: 12cm;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  text-align: left;
  margin-left: 10px;
}
.btn {
  margin-right: 10px;
}
