* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 20px;
}

body {
  background-color: #3852ba;
}
.bigPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 17cm;
  width: 21cm;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.pageContent {
  display: flex;
  height: 17cm;
  width: 21cm;
}

.panel {
  flex: 1;
}
.imagePanel {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image {
  position: absolute;
  height: 15.5cm;
  width: 9cm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.form {
  margin-top: 30px;
}

.heading {
  margin-top: -5px;
  text-align: center;
  font-size: 33px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
  /* margin-bottom: 7px; */
  text-align: center;
}
.name {
  margin-top: 20px;
  margin-bottom: 7px;
}
.error-message {
  display: none;
  margin-top: 20px;
  margin-bottom: 7px;
  margin-right: 33px;
  color: red;
}

/* .error-message { */
/* display: none;
  color: red;
  font-size: 12px;
  position: absolute;
  top: 40px;
  left: 0; */
/* display: none;
  padding: 10px;
  border: 2px solid #444444;  
  background-color: #f8f8f8;  
  border-radius: 5px;
}
.inputBox:hover .error-message {
  display: inline-block;
} */
/* .btnDropDown {
  width: 2.3cm;
  height: 1cm;
} */
/* .inputPhone {
  width: 6.9cm;
  height: 1cm;
  border-radius: 10px;
  border-width: 2px;
  margin-left: -15px;
  justify-content: right;
} */

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.validator {
  height: 25px;
  margin-right: 3px;
}

.input {
  width: 9.5cm;
  height: 1cm;
  border-radius: 10px;
  border-color: rgb(68, 68, 68);
  border-width: 2px;
}

.buttonHolder {
  margin-top: 40px;
}

.submitBtn {
  width: 9.7cm;
  height: 1cm;
  border-radius: 10px;
  background-color: rgba(30, 5, 85, 255);
  color: floralwhite;
}

.hidden {
  display: none;
}

::placeholder {
  font-size: 18px;
}
